@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.page-logo {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #0B132A;
}

nav {
    font-family: 'Rubik',
        sans-serif;
}

.page-logo>span {
    font-weight: 700;
}

.large-btn {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F53855;
    padding: 9.5px 45px;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px;
}

.small-btn {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #F53855;
    padding: 8px 35px;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px;
    background: transparent;
}

.hero-section {
    min-height: calc(100vh - 63px);
}

/* FOR POSITION */


.parent {
    width: 700px;
    height: 700px;
    background-color: rebeccapurple;
}

.child {
    width: 300px;
    height: 300px;
    background-color: #F53855;
}


/* NAVBAR WITH AFTER   */


.nav-link {
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.nav-link::after {
    position: absolute;
    content: "";
    background-color: #F53855;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    width: 100%;
}